Florist_Client/Florist_Client/Web References/api_product/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMessage">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMessageResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageByCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="category" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCountProductResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeSort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="category" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="categoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="category" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginCustomerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkLoginCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkLoginCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkLoginCustomerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEvalute">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEvaluteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEvaluteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEvaluteByProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rate" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEvaluteByProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEvaluteByProductResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountEvaluteByRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountEvaluteByRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCountEvaluteByRateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMessage" />
  </wsdl:message>
  <wsdl:message name="GetAllMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageByCategory" />
  </wsdl:message>
  <wsdl:message name="GetMessageByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountProduct" />
  </wsdl:message>
  <wsdl:message name="GetCountProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProduct" />
  </wsdl:message>
  <wsdl:message name="GetAllProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByCategory" />
  </wsdl:message>
  <wsdl:message name="GetProductByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByID" />
  </wsdl:message>
  <wsdl:message name="GetProductByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoryNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryName" />
  </wsdl:message>
  <wsdl:message name="GetCategoryNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryNameResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAccountSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAccount" />
  </wsdl:message>
  <wsdl:message name="LoginAccountSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAccountResponse" />
  </wsdl:message>
  <wsdl:message name="LoginCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:LoginCustomer" />
  </wsdl:message>
  <wsdl:message name="LoginCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="checkLoginCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:checkLoginCustomer" />
  </wsdl:message>
  <wsdl:message name="checkLoginCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:checkLoginCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEvaluteSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEvalute" />
  </wsdl:message>
  <wsdl:message name="GetAllEvaluteSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEvaluteResponse" />
  </wsdl:message>
  <wsdl:message name="GetEvaluteByProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetEvaluteByProduct" />
  </wsdl:message>
  <wsdl:message name="GetEvaluteByProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetEvaluteByProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountEvaluteByRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountEvaluteByRate" />
  </wsdl:message>
  <wsdl:message name="GetCountEvaluteByRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountEvaluteByRateResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetAllMessage">
      <wsdl:input message="tns:GetAllMessageSoapIn" />
      <wsdl:output message="tns:GetAllMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageByCategory">
      <wsdl:input message="tns:GetMessageByCategorySoapIn" />
      <wsdl:output message="tns:GetMessageByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountProduct">
      <wsdl:input message="tns:GetCountProductSoapIn" />
      <wsdl:output message="tns:GetCountProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <wsdl:input message="tns:GetAllProductSoapIn" />
      <wsdl:output message="tns:GetAllProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <wsdl:input message="tns:GetProductByCategorySoapIn" />
      <wsdl:output message="tns:GetProductByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <wsdl:input message="tns:GetProductByIDSoapIn" />
      <wsdl:output message="tns:GetProductByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryName">
      <wsdl:input message="tns:GetCategoryNameSoapIn" />
      <wsdl:output message="tns:GetCategoryNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccount">
      <wsdl:input message="tns:LoginAccountSoapIn" />
      <wsdl:output message="tns:LoginAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <wsdl:input message="tns:LoginCustomerSoapIn" />
      <wsdl:output message="tns:LoginCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkLoginCustomer">
      <wsdl:input message="tns:checkLoginCustomerSoapIn" />
      <wsdl:output message="tns:checkLoginCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvalute">
      <wsdl:input message="tns:GetAllEvaluteSoapIn" />
      <wsdl:output message="tns:GetAllEvaluteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEvaluteByProduct">
      <wsdl:input message="tns:GetEvaluteByProductSoapIn" />
      <wsdl:output message="tns:GetEvaluteByProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountEvaluteByRate">
      <wsdl:input message="tns:GetCountEvaluteByRateSoapIn" />
      <wsdl:output message="tns:GetCountEvaluteByRateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMessage">
      <soap:operation soapAction="http://tempuri.org/GetAllMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageByCategory">
      <soap:operation soapAction="http://tempuri.org/GetMessageByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountProduct">
      <soap:operation soapAction="http://tempuri.org/GetCountProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <soap:operation soapAction="http://tempuri.org/GetAllProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap:operation soapAction="http://tempuri.org/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <soap:operation soapAction="http://tempuri.org/GetProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryName">
      <soap:operation soapAction="http://tempuri.org/GetCategoryName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccount">
      <soap:operation soapAction="http://tempuri.org/LoginAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <soap:operation soapAction="http://tempuri.org/LoginCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkLoginCustomer">
      <soap:operation soapAction="http://tempuri.org/checkLoginCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvalute">
      <soap:operation soapAction="http://tempuri.org/GetAllEvalute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvaluteByProduct">
      <soap:operation soapAction="http://tempuri.org/GetEvaluteByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountEvaluteByRate">
      <soap:operation soapAction="http://tempuri.org/GetCountEvaluteByRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMessage">
      <soap12:operation soapAction="http://tempuri.org/GetAllMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetMessageByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountProduct">
      <soap12:operation soapAction="http://tempuri.org/GetCountProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <soap12:operation soapAction="http://tempuri.org/GetAllProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap12:operation soapAction="http://tempuri.org/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <soap12:operation soapAction="http://tempuri.org/GetProductByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryName">
      <soap12:operation soapAction="http://tempuri.org/GetCategoryName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccount">
      <soap12:operation soapAction="http://tempuri.org/LoginAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <soap12:operation soapAction="http://tempuri.org/LoginCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkLoginCustomer">
      <soap12:operation soapAction="http://tempuri.org/checkLoginCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvalute">
      <soap12:operation soapAction="http://tempuri.org/GetAllEvalute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvaluteByProduct">
      <soap12:operation soapAction="http://tempuri.org/GetEvaluteByProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountEvaluteByRate">
      <soap12:operation soapAction="http://tempuri.org/GetCountEvaluteByRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:65200/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:65200/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>